<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link href="//cloud.webtype.com/css/141e7922-77b8-4d52-b71a-8bfe783d8266.css" rel="stylesheet" type="text/css"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<template name="about">
    <div class="about">
        <div style="text-align:center;">
            <img src="/favicon-96x96.png" width=48px; height="48px;"/>

            <h1>About {{appTitle}}</h1>
        </div>
        <p>{{appTitle}} is a virtual whiteboard to be shared by multiple persons at the same time. Users will be
            anonymous - so no one needs to sign in.</p>

        {{#if hasSessionName}}
            <p><a href="/{{sessionName}}">Just go back to <b>{{sessionName}}</b></a> and share the URL with the
                people you want to work with. Anyone who has access to that URL can participate in your work.
            </p>
        {{else}}
            <p><a href="/">Just start a new session</a> and share the URL with the
                people you want to work with. Anyone who has access to that URL can participate in your work.
            </p>
        {{/if}}

        <p><b>Writing and editing:</b> After creating or opening a session, you can write text by double clicking
            anywhere in the browse window. Already existing text can be edited by double clicking on it. And hey, you
            can write markdown.</p>

        <p><b>Drag and resize:</b> Drag the text around and resize text boxes as you like.</p>

        <p><b>Voting: </b>Dot voting is possible by clicking on the &#x25b2; symbol that appears top left when hovering
            over a
            text, down voting by clicking on the &#x25bc; symbol.</p>

        <p><b>Filtering:</b> You can filter out the contents you are interested in, simply by typing a text
            pattern that has to be part of the contents you want to have on the screen (use the input area in the top
            left corner of the window). This won´t affect the other participants of a shared whiteboard session.
            Filtering isn´t case
            sensitive.</p>

        <p><b>Align:</b> Select multiple items by <kbd>CMD</kbd>-<kbd>CLICK</kbd> (on Mac) or
            <kbd>CTRL</kbd>-<kbd>CLICK</kbd> (on Win). Align the items left with <kbd>CMD</kbd>-<kbd>←</kbd> /
            <kbd>CTRL</kbd>-<kbd>←</kbd>. Align top, right or bottom by using the other arrow keys. Please be careful
            with this function, as currently there is no undo function available.</p>


        <h2>* * *</h2>


        <p>{{appTitle}} is free to use for everyone. It is built and shared by <a href="http://ulf.codes"
                                                                                  target="_blank">Ulf&nbsp;Schneider</a>
            and it is developed while obeying the agile mantra: Make the simplest thing that
            will possibly work now. Validate. Repeat. Yay.
        </p>

        <p>Please tell me how it fits for you and what you´d like to have different.</p>

        <p>Ulf</p>

    </div>
</template>