<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link href="//cloud.webtype.com/css/141e7922-77b8-4d52-b71a-8bfe783d8266.css" rel="stylesheet" type="text/css"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<template name="about">
    <div class="about">
        <h1>About {{appTitle}}</h1>

        <p>{{appTitle}} is a virtual whiteboard to be shared by multiple persons at the same time. Users will be
            anonymous - so no one needs to sign in.</p>

        {{#if hasSessionName}}
            <p><a href="/{{sessionName}}">Just go back to <b>{{sessionName}}</b></a> and share the URL with the
                people you want to work with. Anyone who has access to that URL can participate in your work.
            </p>
        {{else}}
            <p><a href="/">Just start a new session</a> and share the URL with the
                people you want to work with. Anyone who has access to that URL can participate in your work.
            </p>
        {{/if}}

        <p><b>Writing and editing:</b> After creating or opening a session, you can write text by double clicking
            anywhere in the browser
            window. Already existing text can be edited by double clicking on it.</p>

        <p><b>Drag and resize:</b> Drag the text around and resize text boxes as you like.</p>

        <p><b>Voting: </b>Dot voting on text is possible via <kbd>SHIFT</kbd>+<kbd>CLICK</kbd>, down vote via
            <kbd>SHIFT</kbd>+<kbd>ALT</kbd>+<kbd>CLICK</kbd>.</p>

        <p>{{appTitle}} is free to use for everyone. It is built and shared by <a href="http://ulf.codes"
                                                                                  target="_blank">Ulf&nbsp;Schneider</a>
            and it is developed while obeying the agile mantra: Make the simplest thing that
            will possibly work now. Validate. Repeat. Yay.
        </p>

        <p>Please tell me how it fits for you and what you´d like to have different.</p>

        <p>Ulf</p>

    </div>
</template>