$line-height: 20px;
$font-size: 14px;

* {
  font-family: 'Input Sans Condensed', 'Input Sans Cond', sans-serif;
  font-size: $font-size;
  outline: none;
  line-height: $line-height;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 8px;
  padding-right: 40px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border: 0;
  background: white;
  z-index: 2147483646;
}

h1, h2, header, header * {
  font-family: 'Input Sans', sans-serif;
}

mark {
  background: lightgoldenrodyellow;
}

kbd {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: uppercase;
}

textarea {
  position: absolute;
  z-index: 2147483646;
  border: 2px solid black;
  padding: 1px;
  margin: 0;
  color: black;
  min-width: $line-height;
  min-height: $line-height;
  height: $line-height;
  resize: none;
}

.aboutLink {
  text-decoration: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2147483646;
  background: black;
  color: white;
  padding: 8px;
}

.about {
  padding: 8px;
  max-width: 600px;
  margin: 50px auto;
}

.about, .about * {
  font-family: 'Input Sans', sans-serif;
  line-height: 1.8em;
}

a {
  text-decoration: underline;
  color: black;
}

::selection {
  color: white;
  background: cornflowerblue;
}

.ui-icon-gripsmall-diagonal-se {
  background: black;
  width: 12px;
  height: 12px;
}

.dragging .ui-icon-gripsmall-diagonal-se, .sizing .ui-icon-gripsmall-diagonal-se, .editing .ui-icon-gripsmall-diagonal-se {
  background: white;
}

.drawing-object {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  vertical-align: top;
}

.drawing-object .text ul {
  padding-left: $line-height;

}

.drawing-object .text {
  background: lightgoldenrodyellow;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightgoldenrodyellow;
  padding: 1px;
  position: relative;
}

.drawing-object .text p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.drawing-object:hover .text {
  border: 1px solid black;
  padding:2px;
}

.drawing-object:hover .text a:hover {
  color: white;
  background: black;
}

.editing .text, .editing:hover .text {
  color: white;
  background: black;
  -webkit-animation: glow 1500ms infinite;
  -moz-animation: glow 1500ms infinite;
  animation: glow 1500ms infinite;
}

.dragging .text, .dragging:hover .text, .sizing .text, .sizing:hover .text {
  color: white;
  background: black;
  border: 2px solid black;
}

.editing .text a, .editing:hover .text a, .dragging .text a, .dragging:hover .text a, .sizing .text a, .sizing:hover .text a {
  color: white;
}

.editing:hover .text a:hover, .dragging:hover .text a:hover, .sizing:hover .text a:hover {
  color: black;
  background: white;
}

@-moz-keyframes glow {
  0% {
    border: 2px solid black;
  }
  50% {
    border: 2px solid white;
  }
  100% {
    border: 2px solid black;
  }
}

@-webkit-keyframes glow {
  0% {
    border: 2px solid black;
  }
  50% {
    border: 2px solid white;
  }
  100% {
    border: 2px solid black;
  }
}

@keyframes glow {
  0% {
    border: 2px solid black;
  }
  50% {
    border: 2px solid white;
  }
  100% {
    border: 2px solid black;
  }
}

.drawing-object .controls {
  display: none;
  border: none;
  height: 20px;
}

.drawing-object:hover .controls {
  display: block;
  margin-top: -$line-height;
}

.drawing-object .controls a {
  cursor: pointer;
  width: $line-height;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.controls a.vote {
  margin-right: 5px;
  color: black;
  float: left;
}

.controls a.vote:hover {
  color: white;
  background: black;
}

.controls a.down-vote {
  color: black;
  float: left;
}

.controls a.down-vote:hover {
  color: white;
  background: black;
}

.controls a.delete {
  margin-left: $line-height;
  color: red;
  float: right;
}

.controls a.delete:hover {
  background: red;
  color: lightgoldenrodyellow;
}

.dragging:hover .controls,  .sizing:hover .controls {
  display:none;
}

.vote-count {
  background: black;
  color: white;
  display: inline-block;
  position: relative;
  min-width: $line-height;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}

.editing .vote-count, .sizing .vote-count, .dragging .vote-count {
  color: black;
  background: white;
}

#overlay {
  position: absolute;
  z-index: 2147483646;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: none;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 2*$line-height;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
}

#editor .boundary-marker {
  display: none;
  background: red;
  position: fixed;
  z-index: 2147483647;
}



