$line-height: 22px;
$font-size: 15px;
$text-color: #111;
$background-color: #fff;

$font: "Input Sans Condensed", "Input Sans Cond", "Input Sans", sans-serif;

* {
  font-family: $font;
  font-size: $font-size;
  outline: none;
  line-height: $line-height;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

header {
  margin: 0;
  padding: 8px;
  position: fixed;
  left: 0;
  top: 0;
  border: 0;
  z-index: 2147483646 !important;
  display: inline-block;

  background-color: $background-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header * {
  font-family: "Input Sans", sans-serif;
}

p {
  margin: 0;
  margin-bottom: $line-height;
}

h1, h2, h3 {
  text-align: left;
  font-weight: bold;
  margin-top: 1.62 * 1.62em;
  margin-bottom: 0;
}

h1, h2 {
  text-align: center;
  margin-bottom: 1.62em;
}

mark {
  background: #eee;
}

kbd {
  background: #eee;
  margin: 0;
  border: 1px solid lightgray;
  text-transform: uppercase;
  padding: 2px;
  border-radius: 3px;
}

textarea {
  position: absolute;
  z-index: 2147483646;
  border: 2px solid $text-color;
  padding: 1px;
  margin: 0;
  color: $text-color;
  min-width: $line-height;
  min-height: $line-height;
  height: $line-height;
  resize: none;
}


#filter, #xgrid, #ygrid {
  border: 0;
  border-bottom: 1px solid lightgray;
}

#filter:hover, #filter:focus, #xgrid:hover, #xgrid:focus, #ygrid:hover, #ygrid:focus {
  border-bottom: 1px solid $text-color;
}

#filter {
  width: 10em;
}

#xgrid, #ygrid {
  width: 3em;
}


.filter, .grid, #login-buttons, .sessionsHeading, .export {
  display: inline-block;
  margin-right: 2em;
  @extend %nolinkstyle;
}

.aboutLink {
  background-image: none;
  background: $text-color;
  color: $background-color;
  width: $line-height;
  height: $line-height;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.about {
  max-width: 700px;
  padding: 0 1em;
  margin: 1.62*1.62em auto;

  p {
    margin-bottom: 1.62em;
  }
}

.about, .about * {
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.62em;
  font-family: "Input Sans", sans-serif;
  color: $text-color;
}

ul.toc {
  margin: 0;
  padding: 0;
}

.toc li {
  list-style-type: none;
}

a {
  @extend %linkstyle;
}

%linkstyle {
  outline: none;
  color: $text-color;
  text-decoration: none;
  background-image: -webkit-linear-gradient(to bottom, transparent 94%, $text-color 96%, $text-color 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 94%, $text-color 96%, $text-color 100%);
  background-image: -o-linear-gradient(to bottom, transparent 94%, $text-color 96%, $text-color 100%);
  background-image: linear-gradient(to bottom, transparent 94%, $text-color 96%, $text-color 100%);
}

%nolinkstyle {
  background-image:none;
}

::selection {
  color: $background-color;
  background: cornflowerblue;
}

.ui-icon-gripsmall-diagonal-se {
  background: transparent;
  width: 12px;
  height: 12px;
}

.ui-icon-gripsmall-diagonal-se {
  background: $text-color;
}

.drawing-object {
  display: block;
  position: absolute;
  vertical-align: top;
}

.drawing-object ul {
  margin:0;
}

.drawing-object .text a:hover {
  background:$text-color;
  color: #ffffd6; /*calculate with opacity in front of white background */
}

.drawing-object .text ul {
  padding-left: $line-height;

}

.drawing-object .text {
  background: #ffffbb;
  background: rgba(255, 255, 187, .6);
  display: block;
  border: 2px solid transparent;
  padding: 1px;
  overflow: hidden;

  position: relative;
  cursor: pointer;
}

.drawing-object .text p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.drawing-object .text img {
  max-width: 100%;
}

.drawing-object:hover, div.color-picker {
  z-index: 2147483645 !important;
}

.drawing-object:hover .text {
  border: 1px dashed $text-color;
  padding: 2px;
}

.drawing-object:hover .text.inverse {
  border: 1px dashed $background-color;
  padding: 2px;
}

.selected .text, .selected:hover .text {
  border: 2px dotted $text-color;
  padding: 1px;
}

.selected .text.inverse, .selected:hover .text.inverse {
  border: 2px dotted $background-color;
  padding: 1px;
}

.connect .text, .connect:hover .text {
  border: 2px dashed $text-color;
  padding: 1px;
}

.connect .text.inverse, .connect:hover .text.inverse {
  border: 2px dashed $background-color;
  padding: 1px;
}

.editing .text, .dragging .text, .dragging:hover .text, .sizing .text, .sizing:hover .text {
  border: 2px dotted $text-color;
  -webkit-animation: glow 1000ms infinite;
  -moz-animation: glow 1000ms infinite;
  animation: glow 1000ms infinite;
  padding: 1px;
  min-height: $line-height;
}

.editing .text.inverse, .dragging .text.inverse, .dragging:hover .text.inverse, .sizing .text.inverse, .sizing:hover .text.inverse {
  border: 2px dotted $background-color;
  -webkit-animation: glow-inverse 1000ms infinite;
  -moz-animation: glow-inverse 1000ms infinite;
  animation: glow-inverse 1000ms infinite;
  padding: 1px;
  min-height: $line-height;
}

.editing:before, .dragging:before, .sizing:before {
    color:$background-color;
    background-color: $text-color;
    margin-top: -($line-height + 2);
    position:absolute;
    padding:0 4px;
}

.editing:before {
  content:"editing";
}

.dragging:before {
  content:"dragging";
}

.sizing:before {
  content:"sizing";
}

@-moz-keyframes glow {
  0% {
    border: 2px dotted transparent;
  }
  50% {
    border: 2px dotted $text-color;
  }
  100% {
    border: 2px dotted transparent;
  }
}

@-webkit-keyframes glow {
  0% {
    border: 2px dotted transparent;
  }
  50% {
    border: 2px dotted $text-color;
  }
  100% {
    border: 2px dotted transparent;
  }
}

@keyframes glow {
  0% {
    border: 2px dotted transparent;
  }
  50% {
    border: 2px dotted $text-color;
  }
  100% {
    border: 2px dotted transparent;
  }
}

@-moz-keyframes glow-inverse {
  0% {
    border: 2px dotted transparent;
  }
  50% {
    border: 2px dotted $background-color;
  }
  100% {
    border: 2px dotted transparent;
  }
}

@-webkit-keyframes glow-inverse {
  0% {
    border: 2px dotted transparent;
  }
  50% {
    border: 2px dotted $background-color;
  }
  100% {
    border: 2px dotted transparent;
  }
}

@keyframes glow-inverse {
  0% {
    border: 2px dotted transparent;
  }
  50% {
    border: 2px dotted $background-color;
  }
  100% {
    border: 2px dotted transparent;
  }
}



.drawing-object .controls {
  display: none;
  border: none;
  height: $line-height;
  position: relative;
  background: $background-color;
  background: rgba(255, 255, 255, .8);
}

.drawing-object:hover .controls {
  display: block;
  margin-top: -($line-height + 2);
  padding-bottom: 2px;
}

.drawing-object .controls a {
  cursor: pointer;
  min-width: $line-height;
  height: $line-height;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  display: inline-block;

  @extend %nolinkstyle;
}

.controls div.tiny-color-pick {
  float: left;
  margin-right: 5px;
  background: #ffffbb;
  background: rgba(255, 255, 187, .6);
  width: $line-height - 2;
  height: $line-height - 2;
}

div.color-picker {
  margin-top: 2px;
}

div.color-picker ul li {
  width: $line-height - 2;
  height: $line-height -2;
}

.controls a.vote, .controls a.down-vote {
  margin-right: 5px;
  color: $text-color;
  float: left;
}

.controls a.vote:hover {
  color: $background-color;
  background: $text-color;
}

.controls a.down-vote {
  color: $text-color;
  float: left;
}

.controls a.down-vote:hover {
  color: $background-color;
  background: $text-color;
}

.controls a.delete {
  margin-left: $line-height;
  color: $text-color;
  float: right;
}

.controls a.delete:hover {
  background: red;
  color: $background-color;
}

.dragging:hover .controls, .sizing:hover .controls {
  display: none;
}

.vote-count {
  background: $text-color;
  color: $background-color;
  display: inline-block;
  position: relative;
  min-width: $line-height;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}


#nprogress .bar {
  background: $text-color;
  z-index: 2147483647;
  height: 3px;
}

#nprogress .peg {
  box-shadow: none;
}

#nprogress .spinner-icon {
  border-top-color: $text-color;
  border-left-color: $text-color;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 2*$line-height;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
}

#editor .boundary-marker {
  display: none;
  background: red;
  position: fixed;
  z-index: 2147483647;
}

#selectArea {
  border: 1px solid red;
  background: red;
  position: absolute;
  display: none;
}

.sessionData {
  padding: 8px;
  padding-top: 2*$line-height;
}

.sessionData dl {
  margin-bottom: 8px;
}

.sessionData dt {
  float: left;
  width: 12em
}

.sessionData dd {
  margin-left: 12em;
}

.accounts-dialog, .accounts-dialog * {
  font-family: $font;
  font-size: $font-size;
  border-radius: 0;
}

#login-buttons a {
  text-decoration: none;
  @extend %nolinkstyle;
}

#login-buttons input[type=text], #login-buttons input[type=password], #login-buttons input[type=email] {
  border: 1px solid lightgray;
}

#login-buttons .login-button, #login-buttons .login-button:active, #login-buttons .login-button:hover {
  background-color: $text-color;
  color: $background-color;
  font-family: $font;
  font-size: $font-size;
  border: none;
}

.bert-alert {
  background:$text-color !important;
  border-radius: 0px !important;
}



