$line-height: 20px;
$font-size: 14px;
$text-color: #111;
$background-color: #fff;

$font: 'Input Sans Condensed', 'Input Sans Cond', sans-serif;

* {
  font-family: $font;
  font-size: $font-size;
  outline: none;
  line-height: $line-height;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 8px;
  position: fixed;
  left: 0;
  top: 0;
  border: 0;
  background-color: $background-color;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2147483646;
  display: inline-block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin:0;
  margin-bottom:$line-height;
}

h1, h2, h3, header, header * {
  font-family: 'Input Sans', sans-serif;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 2*$line-height;
  margin-bottom: 2*$line-height;
}

h3 {
  text-align:left;
  margin-top: $line-height;
  margin-bottom: 0;
}

mark {
  background: #eee;
}

kbd {
  background: #eee;
  margin: 0;
  border: 1px solid lightgray;
  text-transform: uppercase;
  padding: 2px;
  border-radius: 3px;
}

textarea {
  position: absolute;
  z-index: 2147483646;
  border: 2px solid $text-color;
  padding: 1px;
  margin: 0;
  color: $text-color;
  min-width: $line-height;
  min-height: $line-height;
  height: $line-height;
  resize: none;
}

#filter, #xgrid, #ygrid {
  border: 0;
  border-bottom: 1px solid lightgray;
}

#filter:hover, #filter:focus, #xgrid:hover, #xgrid:focus, #ygrid:hover, #ygrid:focus {
  border-bottom: 1px solid $text-color;
}

#filter {
  width: 10em;
}

#xgrid, #ygrid {
  width: 3em;
}

.filter, .grid, #login-buttons, .sessionsHeading {
  display: inline-block;
  margin-right: 2em;
}

.aboutLink {
  background-image:none;
  background: $text-color;
  color: $background-color;
  width:$line-height;
  height: $line-height;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
}

.about {
  padding: 8px;
  max-width: 600px;
  margin: 50px auto;
}

.about, .about * {
  font-family: 'Input Sans', sans-serif;
  line-height: 1.8em;
}


a {
  @extend %linkstyle;
}

%linkstyle {
  color: $text-color;
  text-decoration: none;
  outline: none;
  /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, transparent), color-stop(92%, $text-color), color-stop(95%, #fff), color-stop(84%, transparent));*/
  background-image: -webkit-linear-gradient(to bottom, transparent 91%, $text-color 93%, $text-color 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 91%, $text-color 93%, $text-color 100%);
  background-image: -o-linear-gradient(to bottom, transparent 91%, $text-color 93%, $text-color 100%);
  background-image: linear-gradient(to bottom, transparent 91%, $text-color 93%, $text-color 100%);

}

::selection {
  color: $background-color;
  background: cornflowerblue;
}

.ui-icon-gripsmall-diagonal-se {
  background: transparent;
  width: 12px;
  height: 12px;
}

.ui-icon-gripsmall-diagonal-se {
  background: $text-color;
}

.sizing .ui-icon-gripsmall-diagonal-se {
  background: $background-color;
}

.dragging .ui-icon-gripsmall-diagonal-se, .editing .ui-icon-gripsmall-diagonal-se {
  background: transparent;
}

.drawing-object {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  vertical-align: top;
}

.drawing-object .text ul {
  padding-left: $line-height;

}

.drawing-object .text {
  background:lightgoldenrodyellow;
  background: rgba(250,250,210, .6);
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightgoldenrodyellow;
  padding: 1px;
  position: relative;
}

.drawing-object .text p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.drawing-object .text img {
  max-width:100%;
}

.drawing-object:hover .text {
  border: 1px solid $text-color;
  padding: 2px;
}

.drawing-object:hover .text a:hover {
  color: $background-color;
  background: $text-color;
}

.editing .text, .editing:hover .text {
  color: $background-color;
  background: $text-color;
  -webkit-animation: glow 1500ms infinite;
  -moz-animation: glow 1500ms infinite;
  animation: glow 1500ms infinite;
}

.selected .text, .selected:hover .text {
  border: 2px solid $text-color;
  padding: 1px;
}

.dragging .text, .dragging:hover .text, .sizing .text, .sizing:hover .text {
  color: $background-color;
  background: $text-color;
  border: 2px solid $text-color;
  padding: 1px;
}

.editing .text a, .editing:hover .text a, .dragging .text a, .dragging:hover .text a, .sizing .text a, .sizing:hover .text a {
  color: $background-color;
}

.editing:hover .text a:hover, .dragging:hover .text a:hover, .sizing:hover .text a:hover {
  color: $text-color;
  background: $background-color;
}

@-moz-keyframes glow {
  0% {
    border: 2px solid $text-color;
  }
  50% {
    border: 2px solid $background-color;
  }
  100% {
    border: 2px solid $text-color;
  }
}

@-webkit-keyframes glow {
  0% {
    border: 2px solid $text-color;
  }
  50% {
    border: 2px solid $background-color;
  }
  100% {
    border: 2px solid $text-color;
  }
}

@keyframes glow {
  0% {
    border: 2px solid $text-color;
  }
  50% {
    border: 2px solid $background-color;
  }
  100% {
    border: 2px solid $text-color;
  }
}

.drawing-object .controls {
  display: none;
  border: none;
  height: 20px;
}

.drawing-object:hover .controls {
  display: block;
  margin-top: -$line-height;
}

.drawing-object .controls a {
  cursor: pointer;
  width: $line-height;
  text-align: center;
  text-decoration: none;
  background-image:none;
  display: inline-block;
}

.controls a.vote {
  margin-right: 5px;
  color: $text-color;
  float: left;
}

.controls a.vote:hover {
  color: $background-color;
  background: $text-color;
}

.controls a.down-vote {
  color: $text-color;
  float: left;
}

.controls a.down-vote:hover {
  color: $background-color;
  background: $text-color;
}

.controls a.delete {
  margin-left: $line-height;
  color: red;
  float: right;
}

.controls a.delete:hover {
  background: red;
  color: lightgoldenrodyellow;
}

.dragging:hover .controls, .sizing:hover .controls {
  display: none;
}

.vote-count {
  background: $text-color;
  color: $background-color;
  display: inline-block;
  position: relative;
  min-width: $line-height;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}

.editing .vote-count, .sizing .vote-count, .dragging .vote-count {
  color: $text-color;
  background: $background-color;
}


#nprogress .bar {
  background:$text-color;
  z-index: 2147483647;
  height:3px;
}

#nprogress .peg {
  box-shadow: none;
}

#nprogress .spinner-icon {
  border-top-color:$text-color;
  border-left-color:$text-color;
}

#overlay {
  position: absolute;
  z-index: 2147483646;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: none;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 2*$line-height;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
}

#editor .boundary-marker {
  display: none;
  background: red;
  position: fixed;
  z-index: 2147483647;
}

#selectArea {
  border: 1px solid red;
  position: absolute;
  display: none;
}

.sessionData {
  padding:8px;
  padding-top: 2*$line-height;
}

.sessionData dl {
  margin-bottom:8px;
}

.sessionData dt {
  float:left;
  width:16em
}

.sessionData dd {
  margin-left:16em;
}

.accounts-dialog, .accounts-dialog * {
  font-family: $font;
  font-size: $font-size;
  border-radius:0;
}


#login-buttons a {
  text-decoration:none;
  background-image:none;
}

#login-buttons input[type=text], #login-buttons input[type=password], #login-buttons input[type=email] {
  border:1px solid lightgray;
}


#login-buttons .login-button, #login-buttons .login-button:active, #login-buttons .login-button:hover {
  background-color:$text-color;
  color:$background-color;
  font-family: $font;
  font-size: $font-size;
  border:none;
}



