<template name="canvas">
    <div id="overlay"></div>
    <div id="canvas">
        <div id="selectArea"></div>
        {{#each drawingObjects}}
            {{> drawingObject}}
        {{/each}}
    </div>
    <svg id="canvasdrawing" width="10000" height="10000">
        <defs>
            <marker id="markerCircle" markerWidth="8" markerHeight="8" refX="5" refY="5">
                <circle cx="5" cy="5" r="3" style="stroke: none; fill:#111;"/>
            </marker>

            <marker id="markerArrow" markerWidth="12" markerHeight="12" refX="10" refY="6"
                    orient="auto">
                <path d="M2,2 L2,11 L10,6 L2,2" style="fill: #111;" />
            </marker>
        </defs>

    </svg>
</template>